*{
    background-color: rgb(231, 196, 157);
}
.menu{
    text-decoration: none;
    list-style:none;
    background-color: rgb(186, 150, 216);
    margin-top: 1;
   
}
li, a{
    background-color: rgb(186, 150, 216);
}
.logo{
    width:10%;
    float:right;
}
.fa-facebook {
    background: #3B5998;
    color: white;
    padding: 0.5%;
    border-radius: 18%;
  }
  
.fa-twitter {
    background: #55ACEE;
    color: white;
    padding: 0.5%;
    border-radius: 18%;
  }
.fa-instagram {
    background: #125688;
    color: white;
    padding: 0.5%;
    border-radius: 18%;
  }
.pie{
   background-color:rgb(186, 150, 216) ;
  
}
aside {
    width: 50%;
    height: 50%;
    margin-left: 15px;
    float: right;
}
.carousel{
    width:60% ;
    height:60%;
}